.title-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.title-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.country{
    font-size: 22px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .title-section{
        margin-top: 3rem;
    }
    .title{
        font-size: 30px;
    }
    .country{
        font-size: 20px;
    }
    .moon{
        width: 80px;
    }
  }