.title-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.country{
    font-size: 22px;
    font-weight: bold;
}