#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  background: rgb(242,242,242);
  background: radial-gradient(circle, rgba(242,242,242,1) 0%, rgba(249,249,249,1) 100%);
}

.prayers{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

@media screen and (max-width: 1200px) {
  .prayers{
    flex-direction: column;
    margin-bottom: 3rem;
  }
}
